@import "medias";
@import "variables";

// HEADER LOGGEDIN -------------------------------------------------------------------

header {
    font-weight: bold;

    #user-loggedin-dropdowns {
        width: 190px;
        height: 142px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 20px;

        nav {
            .nav-item {
                .dropdown-loggedin-custom-menu {
                    background-color: $default-background-color;

                    li {
                        a {
                            background-color: $default-background-color;

                            i {
                                color: $font-color;
                            }

                            &:hover {
                                filter: brightness(0.95);
                            }
                        }
                    }
                }
            }
        }
    }
}

// EDUCATOR | REGISTER -------------------------------------------------------------------

#educator-register {
    margin-bottom: 5%;

    #content-section {
        background-color: $default-background-color;
        padding: 5%;
        padding-top: 2%;
        border-radius: 20px;

        #has-account {
            display: flex;
            align-content: flex-end;
            justify-content: flex-end;
            align-items: center;

            #do-login-btn {
                margin-left: 1%;
                background-color: $form-components-color;
                -webkit-box-shadow: 9px 5px 4px 3px rgba(0, 0, 0, 0.32);
                box-shadow: 9px 5px 4px 3px rgba(0, 0, 0, 0.32);

                &:hover {
                    background-color: darken($form-components-color, 4%);
                }
            }
        }

        #form {
            #educator-social-login-register {
                #educator-google-register {
                    margin-right: 3%;

                    #educator-google-register-btn {
                        color: #fff;
                        background-color: $btn-google-bg-color;

                        &:hover {
                            background-color: darken($btn-google-bg-color, 4%);
                        }
                    }
                }

                #educator-facebook-register {
                    #educator-facebook-register-btn {
                        color: #fff;
                        background-color: $btn-facebook-bg-color;

                        &:hover {
                            background-color: darken($btn-facebook-bg-color, 4%);
                        }
                    }
                }
            }

            #form-fields {
                label {
                    font-weight: bold;
                }
            }
        }

        #form-footer {
            #privacy-policy {
                p {
                    text-align: center;
                    font-style: italic;
                }
            }
        }
    }
}

@include media-between(xs, md) {
    // Phones, Large Phones and Tablets
    #educator-register {
        #content-section {
            #has-account {
                align-content: center;
                justify-content: center;
            }
        }
    }
}

// EDUCATOR | LOGIN -------------------------------------------------------------------

#educator-login {
    display: flex;
    margin-bottom: 5%;
    align-items: center;
    flex-direction: column;

    #content-section {
        background-color: $default-background-color;
        background-color: #ededed;
        padding: 5%;
        padding-top: 2%;
        border-radius: 20px;
        width: 65%;

        #has-account {
            display: flex;
            align-content: flex-end;
            justify-content: flex-end;
            align-items: center;

            #do-login-btn {
                margin-left: 1%;
                background-color: $form-components-color;
                -webkit-box-shadow: 9px 5px 4px 3px rgba(0, 0, 0, 0.32);
                box-shadow: 9px 5px 4px 3px rgba(0, 0, 0, 0.32);

                &:hover {
                    background-color: darken($form-components-color, 4%);
                }
            }
        }

        #form {
            #educator-social-login-login {
                #educator-google-login {
                    margin-right: 3%;

                    #educator-google-login-btn {
                        color: #fff;
                        background-color: $btn-google-bg-color;

                        &:hover {
                            background-color: darken($btn-google-bg-color, 4%);
                        }
                    }
                }

                #educator-facebook-login {
                    #educator-facebook-login-btn {
                        color: #fff;
                        background-color: $btn-facebook-bg-color;

                        &:hover {
                            background-color: darken($btn-facebook-bg-color, 4%);
                        }
                    }
                }
            }

            #login-form-fields {
                form {
                    width: 50%;

                    #submit-btn {
                        button {
                            width: 40%;
                        }
                    }
                }
                label {
                    font-weight: bold;
                }
            }
        }
    }
}

@include media-between(xs, md) {
    // Phones, Large Phones and Tablets
    #educator-login {
        #content-section {
            width: 100%;

            #has-account {
                align-content: center;
                justify-content: center;
            }

            #form {
                #login-form-fields {
                    form {
                        width: 90%;

                        #submit-btn {
                            button {
                                width: 90%;
                            }
                        }
                    }
                }
            }
        }
    }
}

// EDUCATOR | FORGOT PASSWORD ---------------------------------------------------------------------------
#educator-forgot-password {
    display: flex;
    margin-bottom: 5%;
    align-items: center;
    flex-direction: column;

    #content-section {
        background-color: $default-background-color;
        background-color: #ededed;
        padding: 5%;
        padding-top: 2%;
        border-radius: 20px;
        width: 65%;

        #form {
            #educator-forgot-password-form-fields {
                form {
                    width: 50%;

                    #submit-btn {
                        button {
                            width: 40%;
                        }
                    }
                }
                label {
                    font-weight: bold;
                }
            }
        }
    }
}

@include media-between(xs, md) {
    // Phones, Large Phones and Tablets
    #educator-forgot-password {
        #content-section {
            width: 100%;

            #form {
                #educator-forgot-password-form-fields {
                    form {
                        width: 90%;

                        #submit-btn {
                            button {
                                width: 90%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media-between(lg, xxl) {
    // Desktop, Large Desktops && Extra Large Desktops
    #educator-forgot-password {
        #content-section {
            #form {
                #form-description {
                    #form-description-text {
                        width: 60%;
                        text-align: center;
                    }
                }
            }
        }
    }
}

// EDUCATORS LIST -------------------------------------------------------------------
#educators-list {
    width: 100%;
    min-height: inherit;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;

    #search-section {
        position: absolute;
        top: 24%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);

        div {
            #search-form {
                display: inline-flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                #search-form-i-b {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    .customized-height {
                        height: 125%;
                    }
                    input {
                        padding-left: 10%;
                    }
                    button {
                        background-color: $default-dark-background-color;

                        &:hover {
                            background-color: darken($default-dark-background-color, 10%);
                        }
                        &:active {
                            background-color: darken($default-dark-background-color, 10%);
                        }
                    }
                }

                #search-form-select {
                    display: inline-flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;
                    flex-wrap: wrap;

                    .search-form-select-item {
                        margin: 0px 10px;
                        margin-bottom: 2%;
                    }
                    select {
                        background-color: $components-color;
                        font-weight: bold;
                    }
                }

                #search-form-select-localization {
                    display: inline-flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;
                    flex-wrap: wrap;

                    .search-form-select-localization-item {
                        margin: 0px 10px;
                    }
                    select {
                        background-color: $components-color;
                        font-weight: bold;
                        &:disabled {
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
    }

    #educators-list-section {
        display: flex;
        flex-direction: column;
        background-color: $default-background-color;
        width: 100%;
        padding-top: 2%;

        #educators-list-section-main {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .educators-list-item {
                display: flex;
                background: #ededed;
                border: 17px solid #ededed;
                border-radius: 20px;
                padding-bottom: 3%;
                box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.33);
                .educators-list-item-img {
                    display: flex;
                    margin-right: 3%;

                    img {
                        width: 80%;
                    }
                }

                .educators-list-item-info {
                    padding: 1% 0%;
                    padding-right: 2%;
                    display: flex;
                    flex-direction: column;
                    align-content: flex-start;
                    align-items: flex-start;

                    .educators-list-item-info-subj-name-rating {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 100%;
                        flex-wrap: nowrap;
                        text-align: initial;

                        .educators-list-item-info-subj-name {
                            display: flex;
                            flex-direction: column;
                            align-content: flex-start;
                            align-items: flex-start;

                            .educators-list-item-info-subj {
                                font-weight: 900;
                                color: $dark-green-font-color;
                                margin-bottom: 2%;
                            }

                            .educators-list-item-info-name {
                                font-weight: bold;
                                margin-bottom: 2%;
                                color: $default-text-color;

                                &:hover {
                                    text-decoration: underline;
                                    color: $default-text-color-hover;
                                }
                            }
                        }

                        .educators-list-item-info-rating {
                            .educators-list-item-info-rating-rate {
                                font-weight: 700;
                            }

                            .educators-list-item-info-rating-star {
                                color: $star-rate-color;
                            }
                        }
                    }

                    .educators-list-item-lec-info {
                        display: flex;
                        flex-direction: column;
                        align-content: flex-start;
                        align-items: flex-start;
                        font-weight: 700;

                        .educators-list-item-lec-info-address {
                            text-align: initial;
                        }
                    }

                    .educators-list-item-single-btn {
                        width: 100%;

                        a {
                            background-color: $btn-default-color;
                            color: $color-font-white;
                            font-size: larger;
                            font-weight: bold;
                        }
                    }
                }
            }

            .see-more {
                #see-more-btn {
                    font-size: 22px;
                    font-weight: 900;
                    background-color: $dark-green-font-color;
                    border: 20px solid $dark-green-font-color;
                    border-radius: 10px;
                    color: #fff;
                    width: 32vh;
                    height: 10vh;

                    &:hover {
                        background-color: darken($dark-green-font-color, 10%);
                        border-color: darken($dark-green-font-color, 10%);
                    }
                }
            }
        }
    }
}

@include media-between(xl, xxl) {
    // Large Desktops && Extra Large Desktops
    #educators-list {
        padding: 200px 0;
        padding-bottom: 50px;

        #search-section {
            div {
                #search-form {
                    #search-form-i-b {
                        width: 64%;

                        #search-form-i-b-icon-map {
                            position: absolute;
                            float: left;
                            left: 18%;
                            width: 5%;
                            border-right: 1px solid #000;

                            i {
                                transition: font-size 0.5s;

                                &:hover {
                                    font-size: 2em;
                                    transition: font-size 0.5s; /* Animation */
                                }
                            }
                        }

                        button {
                            width: 8%;
                        }
                    }
                }
            }
        }

        #educators-list-section {
            #educators-list-section-main {
                .educators-list-item {
                    flex-direction: row;
                    width: 90%;
                    margin-bottom: 2%;

                    .educators-list-item-img {
                        align-content: center;
                        justify-content: center;
                        align-items: flex-start;
                        width: 40%;
                    }

                    .educators-list-item-info {
                        width: 100%;

                        .educators-list-item-info-subj-name-rating {
                            .educators-list-item-info-subj-name {
                                .educators-list-item-info-subj {
                                    font-size: xx-large;
                                }

                                .educators-list-item-info-name {
                                    font-size: xx-large;
                                }
                            }

                            .educators-list-item-info-rating {
                                .educators-list-item-info-rating-rate {
                                    font-size: xx-large;
                                }

                                .educators-list-item-info-rating-star {
                                    font-size: xx-large;
                                }
                            }
                        }

                        .educators-list-item-info-desc {
                            text-align: justify;
                            margin-bottom: 3%;
                        }

                        .educators-list-item-single-btn {
                            display: flex;
                            margin-top: 5%;
                            justify-content: flex-end;

                            a {
                                width: 40%;

                                &:hover {
                                    background-color: darken($btn-default-color, 10%);
                                    border-color: darken($btn-default-color, 10%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media-between(xs, md) {
    // Phones, Large Phones and Tablets
    #educators-list {
        padding: 220px 0;

        #search-section {
            top: 34%;
            div {
                #search-form {
                    #search-form-i-b {
                        width: 92%;

                        #search-form-i-b-icon-map {
                            position: absolute;
                            float: left;
                            left: 2%;
                            width: 11%;
                            border-right: 1px solid #000;
                        }

                        button {
                            width: 16%;
                        }
                    }
                }
            }
        }

        #educators-list-section {
            #educators-list-section-main {
                .educators-list-item {
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;
                    margin-bottom: 6%;

                    .educators-list-item-img {
                        justify-content: flex-start;
                        width: 70%;
                    }

                    .educators-list-item-info {
                        .educators-list-item-info-subj-name-rating {
                            margin-bottom: 10%;

                            .educators-list-item-info-subj-name {
                                .educators-list-item-info-subj {
                                    font-size: x-large;
                                }

                                .educators-list-item-info-name {
                                    font-size: x-large;
                                }
                            }

                            .educators-list-item-info-rating {
                                width: 25%;
                                .educators-list-item-info-rating-rate {
                                    font-size: x-large;
                                }

                                .educators-list-item-info-rating-star {
                                    font-size: x-large;
                                }
                            }
                        }

                        .educators-list-item-info-desc {
                            font-size: 14px;
                            text-align: justify;
                            margin-bottom: 10%;
                        }

                        .educators-list-item-single-btn {
                            margin-top: 12%;

                            a {
                                width: 100%;

                                &:active {
                                    background-color: darken($btn-default-color, 10%);
                                    border-color: darken($btn-default-color, 10%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// EDUCATORS SINGLE -------------------------------------------------------------------

#educators-single {
    #educators-single-header {
        #educators-single-header-img {
            img {
                width: 352px;
                height: 352px;
            }
        }

        #educators-single-header-info {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            #educators-single-header-info-name-subj {
                #info-name {
                    font-size: xx-large;
                    font-weight: bold;
                }

                #info-subj {
                    color: $dark-green-font-color;
                    font-weight: 900;
                }
            }

            #educators-single-header-info-value-localization {
                font-weight: 500;
            }
        }

        #educators-single-header-rate-hire-btn {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            #rate {
                display: flex;
                flex-direction: row;

                h2 {
                    font-size: 4em;
                }

                .rating-star {
                    color: $star-rate-color;
                }
            }

            #hire {
                position: fixed;
                top: 40%;
                height: 5%;
                z-index: 99999999999999;

                #hire-btn {
                    background-color: $btn-default-color;
                    color: $color-font-white;
                    font-size: x-large;
                    font-weight: bold;
                    height: 180%;
                    width: 180%;

                    &:hover {
                        background-color: darken($btn-default-color, 10%);
                        border-color: darken($btn-default-color, 10%);
                    }
                }
            }
        }
    }

    #educators-single-content {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: $light-gray-background-color;

        #educators-single-content-about {
            display: flex;
            justify-content: center;
            text-align: justify;
            font-size: 22px;
            width: 60%;
            flex-direction: column;
            align-content: center;
            align-items: center;
        }

        // START CALENDAR - HOUR AND DATE

        #educators-single-date-hour {
            // background-color: $form-components-color;
            // border: 1px solid $dark-green-font-color;
            border-radius: 20px;
            padding: 4%;
            margin-bottom: 5%;

            #educators-single-date-hour-left {
                #educators-single-date-hour-hours {
                    margin-top: 8%;
                    display: flex;
                    flex-direction: column;
                    #educators-single-date-hour-hours-title {
                        font-weight: bold;
                        font-size: x-large;
                    }
                    #educators-single-date-hour-hours-checks {
                        max-width: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-content: center;
                        justify-content: flex-start;
                        align-items: center;

                        .hour {
                            margin-right: 10px;
                            margin-top: 20px;

                            .hour-check-label {
                                background-color: $color-font-white;
                                display: flex;
                                justify-content: center;
                                -webkit-box-shadow: 5px 11px 19px -1px rgba(0, 0, 0, 0.53);
                                box-shadow: 5px 11px 19px -1px rgba(0, 0, 0, 0.53);
                                border-radius: 5px;
                                padding: 10px;
                                font-weight: 700;

                                &:hover {
                                    background-color: darken($color-font-white, 10%);
                                }
                            }

                            .hour-check-label-checked {
                                background-color: $dark-green-font-color;
                                color: $color-font-white;
                                display: flex;
                                justify-content: center;
                                -webkit-box-shadow: 5px 11px 19px -1px rgba(0, 0, 0, 0.53);
                                box-shadow: 5px 11px 19px -1px rgba(0, 0, 0, 0.53);
                                border-radius: 5px;
                                padding: 10px;
                                font-weight: 700;

                                &:hover {
                                    background-color: darken($dark-green-font-color, 10%);
                                }
                            }
                        }
                    }
                }
            }

            #educators-single-date-hour-right {
                #educators-single-date-hour-right-title {
                    font-weight: bold;
                    font-size: x-large;
                }

                #educators-single-date-hour-right-dates {
                    height: 500px;
                    overflow-y: auto;
                    padding-right: 20px;

                    .hour-selected {
                        margin-top: 30px;

                        .hour-selected-date {
                            .hour-selected-day {
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media-between(xl, xxl) {
    // Large Desktops && Extra Large Desktops
    #educators-single {
        #educators-single-content {
            margin-top: -6%;
            padding-top: 12%;

            #educators-single-date-hour {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
        }
    }
}

@include media-between(xs, md) {
    // Phones, Large Phones and Tablets
    #educators-single {
        #educators-single-header {
            #educators-single-header-img {
                img {
                    width: 223px;
                    height: 223px;
                }
            }

            #educators-single-header-rate-hire-btn {
                #hire {
                    position: fixed;
                    top: 91%;
                    left: 0;
                    width: 160%;

                    #hire-btn {
                        background-color: $btn-default-color;
                        color: $color-font-white;
                        font-weight: bold;
                        width: 63%;
                    }
                }
            }
        }

        #educators-single-content {
            margin-top: -90%;
            padding-top: 95%;
            #educators-single-content-about {
                font-size: 16px;
                width: 90%;
                text-align: justify;
            }

            #educators-single-date-hour {
                display: flex;
                flex-direction: column;
                width: 100%;

                #educators-single-date-hour-right {
                    margin-top: 20%;
                }
            }
        }
    }
}
