@import "medias";
@import "variables";

// EDUCATOR | LOGIN -------------------------------------------------------------------

#educator-login {
    display: flex;
    margin-bottom: 5%;
    align-items: center;
    flex-direction: column;

    #content-section {
        background-color: $default-background-color;
        background-color: #ededed;
        padding: 5%;
        padding-top: 2%;
        border-radius: 20px;
        width: 65%;

        #has-account {
            display: flex;
            align-content: flex-end;
            justify-content: flex-end;
            align-items: center;

            #do-login-btn {
                margin-left: 1%;
                background-color: $form-components-color;
                -webkit-box-shadow: 9px 5px 4px 3px rgba(0, 0, 0, 0.32);
                box-shadow: 9px 5px 4px 3px rgba(0, 0, 0, 0.32);

                &:hover {
                    background-color: darken($form-components-color, 4%);
                }
            }
        }

        #form {
            #educator-social-login-login {
                #educator-google-login {
                    margin-right: 3%;

                    #educator-google-login-btn {
                        color: #fff;
                        background-color: $btn-google-bg-color;

                        &:hover {
                            background-color: darken($btn-google-bg-color, 4%);
                        }
                    }
                }

                #educator-facebook-login {
                    #educator-facebook-login-btn {
                        color: #fff;
                        background-color: $btn-facebook-bg-color;

                        &:hover {
                            background-color: darken($btn-facebook-bg-color, 4%);
                        }
                    }
                }
            }

            #login-form-fields {
                form {
                    width: 50%;

                    #submit-btn {
                        button {
                            width: 40%;
                        }
                    }
                }
                label {
                    font-weight: bold;
                }
            }
        }
    }
}

@include media-between(xs, md) {
    // Phones, Large Phones and Tablets
    #educator-login {
        #content-section {
            width: 100%;

            #has-account {
                align-content: center;
                justify-content: center;
            }

            #form {
                #login-form-fields {
                    form {
                        width: 90%;

                        #submit-btn {
                            button {
                                width: 90%;
                            }
                        }
                    }
                }
            }
        }
    }
}

// EDUCATOR | FORGOT PASSWORD ---------------------------------------------------------------------------
#educator-forgot-password {
    display: flex;
    margin-bottom: 5%;
    align-items: center;
    flex-direction: column;

    #content-section {
        background-color: $default-background-color;
        background-color: #ededed;
        padding: 5%;
        padding-top: 2%;
        border-radius: 20px;
        width: 65%;

        #form {
            #educator-forgot-password-form-fields {
                form {
                    width: 50%;

                    #submit-btn {
                        button {
                            width: 40%;
                        }
                    }
                }
                label {
                    font-weight: bold;
                }
            }
        }
    }
}

@include media-between(xs, md) {
    // Phones, Large Phones and Tablets
    #educator-forgot-password {
        #content-section {
            width: 100%;

            #form {
                #educator-forgot-password-form-fields {
                    form {
                        width: 90%;

                        #submit-btn {
                            button {
                                width: 90%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media-between(lg, xxl) {
    // Desktop, Large Desktops && Extra Large Desktops
    #educator-forgot-password {
        #content-section {
            #form {
                #form-description {
                    #form-description-text {
                        width: 60%;
                        text-align: center;
                    }
                }
            }
        }
    }
}

// EDUCATORS SINGLE -------------------------------------------------------------------

#educators-single {
    #educators-single-header {
        #educators-single-header-img {
            img {
                width: 352px;
                height: 352px;
            }
        }

        #educators-single-header-info {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            #educators-single-header-info-name-subj {
                #info-name {
                    font-size: xx-large;
                    font-weight: bold;
                }

                #info-subj {
                    color: $dark-green-font-color;
                    font-weight: 900;
                }
            }

            #educators-single-header-info-value-localization {
                font-weight: 500;
            }
        }

        #educators-single-header-rate-hire-btn {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            #rate {
                display: flex;
                flex-direction: row;

                h2 {
                    font-size: 4em;
                }

                .rating-star {
                    color: $star-rate-color;
                }
            }

            #hire {
                position: fixed;
                top: 40%;
                height: 5%;
                z-index: 99999999999999;

                #hire-btn {
                    background-color: $btn-default-color;
                    color: $color-font-white;
                    font-size: x-large;
                    font-weight: bold;
                    height: 180%;
                    width: 180%;

                    &:hover {
                        background-color: darken($btn-default-color, 10%);
                        border-color: darken($btn-default-color, 10%);
                    }
                }
            }
        }
    }

    #educators-single-content {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: $light-gray-background-color;

        #educators-single-content-about {
            display: flex;
            justify-content: center;
            text-align: justify;
            font-size: 22px;
            width: 60%;
            flex-direction: column;
            align-content: center;
            align-items: center;
        }

        // START CALENDAR - HOUR AND DATE

        #educators-single-date-hour {
            // background-color: $form-components-color;
            // border: 1px solid $dark-green-font-color;
            border-radius: 20px;
            padding: 4%;
            margin-bottom: 5%;

            #educators-single-date-hour-left {
                #educators-single-date-hour-hours {
                    margin-top: 8%;
                    display: flex;
                    flex-direction: column;
                    #educators-single-date-hour-hours-title {
                        font-weight: bold;
                        font-size: x-large;
                    }
                    #educators-single-date-hour-hours-checks {
                        max-width: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-content: center;
                        justify-content: flex-start;
                        align-items: center;

                        .hour {
                            margin-right: 10px;
                            margin-top: 20px;

                            .hour-check-label {
                                background-color: $color-font-white;
                                display: flex;
                                justify-content: center;
                                -webkit-box-shadow: 5px 11px 19px -1px rgba(0, 0, 0, 0.53);
                                box-shadow: 5px 11px 19px -1px rgba(0, 0, 0, 0.53);
                                border-radius: 5px;
                                padding: 10px;
                                font-weight: 700;

                                &:hover {
                                    background-color: darken($color-font-white, 10%);
                                }
                            }

                            .hour-check-label-checked {
                                background-color: $dark-green-font-color;
                                color: $color-font-white;
                                display: flex;
                                justify-content: center;
                                -webkit-box-shadow: 5px 11px 19px -1px rgba(0, 0, 0, 0.53);
                                box-shadow: 5px 11px 19px -1px rgba(0, 0, 0, 0.53);
                                border-radius: 5px;
                                padding: 10px;
                                font-weight: 700;

                                &:hover {
                                    background-color: darken($dark-green-font-color, 10%);
                                }
                            }
                        }
                    }
                }
            }

            #educators-single-date-hour-right {
                #educators-single-date-hour-right-title {
                    font-weight: bold;
                    font-size: x-large;
                }

                #educators-single-date-hour-right-dates {
                    height: 500px;
                    overflow-y: auto;
                    padding-right: 20px;

                    .hour-selected {
                        margin-top: 30px;

                        .hour-selected-date {
                            .hour-selected-day {
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media-between(xl, xxl) {
    // Large Desktops && Extra Large Desktops
    #educators-single {
        #educators-single-content {
            margin-top: -6%;
            padding-top: 12%;

            #educators-single-date-hour {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
        }
    }
}

@include media-between(xs, md) {
    // Phones, Large Phones and Tablets
    #educators-single {
        #educators-single-header {
            #educators-single-header-img {
                img {
                    width: 223px;
                    height: 223px;
                }
            }

            #educators-single-header-rate-hire-btn {
                #hire {
                    position: fixed;
                    top: 91%;
                    left: 0;
                    width: 160%;

                    #hire-btn {
                        background-color: $btn-default-color;
                        color: $color-font-white;
                        font-weight: bold;
                        width: 63%;
                    }
                }
            }
        }

        #educators-single-content {
            margin-top: -90%;
            padding-top: 95%;
            #educators-single-content-about {
                font-size: 16px;
                width: 90%;
                text-align: justify;
            }

            #educators-single-date-hour {
                display: flex;
                flex-direction: column;
                width: 100%;

                #educators-single-date-hour-right {
                    margin-top: 20%;
                }
            }
        }
    }
}
