// STUDENT | LOGIN -------------------------------------------------------------------

#student-login {
    display: flex;
    margin-bottom: 5%;
    align-items: center;
    flex-direction: column;

    #content-section {
        background-color: $default-background-color;
        background-color: #ededed;
        padding: 5%;
        padding-top: 2%;
        border-radius: 20px;
        width: 65%;
    }
}

@include media-between(xs, md) {
    // Phones, Large Phones and Tablets
    #student-login {
        #content-section {
            width: 100%;

            #has-account {
                align-content: center;
                justify-content: center;
            }

            #form {
                #login-form-fields {
                    form {
                        width: 90%;

                        #submit-btn {
                            button {
                                width: 90%;
                            }
                        }
                    }
                }
            }
        }
    }
}
