#educator-register {
    margin-bottom: 5%;

    #content-section {
        background-color: $default-background-color;
        padding: 5%;
        padding-top: 2%;
        border-radius: 20px;

        #has-account {
            display: flex;
            align-content: flex-end;
            justify-content: flex-end;
            align-items: center;

            #do-login-btn {
                margin-left: 1%;
                background-color: $form-components-color;
                -webkit-box-shadow: 9px 5px 4px 3px rgba(0, 0, 0, 0.32);
                box-shadow: 9px 5px 4px 3px rgba(0, 0, 0, 0.32);

                &:hover {
                    background-color: darken($form-components-color, 4%);
                }
            }
        }

        #form {
            #educator-social-login-register {
                #educator-google-register {
                    margin-right: 3%;

                    #educator-google-register-btn {
                        color: #fff;
                        background-color: $btn-google-bg-color;

                        &:hover {
                            background-color: darken($btn-google-bg-color, 4%);
                        }
                    }
                }

                #educator-facebook-register {
                    #educator-facebook-register-btn {
                        color: #fff;
                        background-color: $btn-facebook-bg-color;

                        &:hover {
                            background-color: darken($btn-facebook-bg-color, 4%);
                        }
                    }
                }
            }

            #form-fields {
                label {
                    font-weight: bold;
                }
            }
        }

        #form-footer {
            #privacy-policy {
                p {
                    text-align: center;
                    font-style: italic;
                }
            }
        }
    }
}

@include media-between(xs, md) {
    // Phones, Large Phones and Tablets
    #educator-register {
        #content-section {
            #has-account {
                align-content: center;
                justify-content: center;
            }
        }
    }
}
